.content {
    min-height: 100vh;
    background-color: antiquewhite;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    border: 4px solid black;
    border-collapse: collapse;
    background-color: white;
}

.table td {
    border: 4px solid black;
    width: 200px;
    height: 200px;
}

.table td:hover {
    cursor: pointer;
    background-color: tomato;
}

.zero {
    background-image: url("../images/zero.png");
    background-position: center;
    background-repeat: no-repeat;
}

.cross {
    background-image: url("../images/cross.png");
    background-position: center;
    background-repeat: no-repeat;
}